<% layout("layout/boilerplate") %>
    <h1>Enchanted to meet you✨</h1> 

    <a href="/campgrounds/new">Add Campground!</a>
    
      <% for(let i=0;i<list.length;i++ ) { %>
       
        <div class="card mb-3">
            <div class="row">
               
              <div class="col-md-4">
                <img class="img-fluid"  src="<%=list[i].image%>" alt=""/>
              </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%=list[i].title%></h5>
                    <p class="card-text"><%=list[i].description%></p>
                    <p class="card-text"><small><%=list[i].location%></small></p>
                    <a class="btn btn-dark" href="/campgrounds/<%=list[i]._id%>"><%=list[i].title%></a>
                  </div>
                  
                </div>

            </div>
        </div>


      <% }%>
    
 